@font-face {
  font-family: 'Roboto';
  src: url('font/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  src: url('font/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Pirulen';
  src: url('font/pirulen/pirulen-rg.ttf') format('truetype');
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #fefefd;
}

p {
  font-family: 'Roboto-Regular', sans-serif;
}

h5 {
  font-family: 'Poppins-Regular', sans-serif;
}

/* Menu */
.navbar {
  font-size: 16px;
  font-family: 'Roboto-Regular', sans-serif;
}

.nav-item {
  padding-right: 7px;
  padding-left: 7px;
}

nav li:hover {
  background-color: #434343;
  border-radius: 8px;
  transition: border-radius 0.5s ease-in-out;
  transition-duration: 0s;
}

.logoMenu {
  max-width: 40px;
  max-height: 100px;
}

.btn {
  background: #ff4177;
  color: #fff;
  border-radius: 20px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 15px;
  display: inline-block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn:hover {
  background: #7f243e;
  color: #fff;
}

@media (min-width: 992px) {
  .col-lg-1 {
    flex: 0 0 auto;
    width: 5%;
  }
}

/* Header */
.logoPavileonVideo {
  margin-top: 4vh;
  width: 82%;
}

.btnVideo {
  margin-top: 5vh;
}

@media screen and (min-width: 1200px) {
  .bg-video {
    width: 100%;
    height: 100%;
  }

  .btnVideo {
    margin-left: 5vh;
  }
}

.overlay {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(202, 202, 202, 0.179);
}

/* Nos Somos */


.nosSomos {
  margin-top: 40vh;
}

.nosSomos p {
  margin-top: 3vh;
}

.nosSomos h2 {
  font-family: 'Pirulen', sans-serif;
  font-style: italic;
}

@media (max-width: 767px) {
  .nosSomos {
    margin-top: 10vh;
  }
}

.logoNosSomos {
  margin-top: 10px;
  width: 80%;
}

.dorival {
  width: 100%;
}

@media (max-width: 767px) {
  .dorival {
    width: 100%;
  }
}

/* MiniGame */
.btnGame {
  margin-top: 2vh;
}

@media (max-width: 768px) {
  .col-md-6 {
    flex: 0 0 auto;
    width: 100%;
  }
}

.cta-section {
  height: 100%;
  width: 100%;
}

.img-fluid {
  width: 100%;
  height: auto;
}

/* Divirta-se */
.espacamento {
  margin-top: 10vh;
  padding-bottom: 10vh;
}


/* Footer */
.footer {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn_inscricao {
  width: 100%;
}

.logoFooter {
  height: 40px;
}

.img-responsive {
  width: 80%;
  height: auto;
}


/* Noticia */
/* .card-img-top {
  max-height: 25vh !important;
  max-width: 100%;

 .noticiaFundo {
    background-color: #f3f3f3;
    padding-bottom: 10vh;
  } 

 @media (max-width: 767px) {
  .cards-container {
    margin-left: -15px;
    margin-right: -15px;
  }
}
 */